<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>wwwwwweeeeeeiiird</title>

  {# <link rel="stylesheet" href="css/styles.css?v=1.0"> #}

  <style>
    body {
        background: #000;
        color: yellow;
    }
  </style>

</head>

<body>
  {# <script src="js/scripts.js"></script> #}
  <main>[{...}]</main>
</body>
</html>